machine:
  network:
    hostname: ${hostname}
  features:
    kubePrism:
      enabled: true
      port: 7445
  install:
    extensions:
      - image: "ghcr.io/siderolabs/iscsi-tools:latest"
      - image: "ghcr.io/siderolabs/qemu-guest-agent:latest"
      - image: "ghcr.io/siderolabs/zfs:latest"
